
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 body{
    font-family: 'Sono', monospace;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: auto;
    min-width: 300px;
}
main > section{
    margin: 10px 0;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-width: 300px ;
    width: 100%;
}
ul{
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    min-width: 300px ;
}
li
{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6{
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
}

p{
    text-wrap: pretty;
}

.colors-section section{
    width: 90%;
    padding: 0 auto;
    margin-bottom: 20px;
}



.color-box{
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-box:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s;
}


.colors-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.colors-section article{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
}

.colors-section article div{
    margin: 0 auto;
}

.fonts-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;

}zz

.fonts-section div{
    width: 100%;
}


.fonts-section div h3{
    text-align: center;
    margin: 20px 0;
}

.fonts-section section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fonts-section section h4{
    margin: 10px 0;
}

.fonts-section section div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.font-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    min-width: 250px;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.3s;
    margin: 0 auto;

}	

.font-box:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s;
}
.textstyle-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}	

.textstyle-section div h1,
.textstyle-section div h2,
.textstyle-section div h3,
.textstyle-section div h4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

