
*{
    box-sizing: border-box;
}
 body{
    font-family: 'Sono', monospace;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: auto;
    min-width: 300px;
}
main > section{
    margin: 10px 0;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-width: 300px ;
    width: 100%;
}
ul{
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    min-width: 300px ;
}
li
{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: underline;
}

.colors-section section{
    width: 90%;
    padding: 0 auto;
    margin-bottom: 20px;
}

.colors-section section h3{
    margin-left: 30px;
}

.color-box{
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-box:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s;
}


.colors-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.colors-section article{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.colors-section article div{
    margin: 0 auto;
}

.fonts-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.fonts-section div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding-inline: 20px;
}

.fonts-section div h3{
    text-align: center;
    margin: 20px 0;
}

.fonts-section div p{
    text-align: wrap;
}

.fonts-section div section{
    border-radius: 5px;
    padding: 10px;
    min-width: 200px ;
    width: 100%;

}

.fonts-section div section hr	{
    margin:0;
}

.textstyle-section{}

.components-section{}